@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.attractions{
    margin: 4rem 6rem;
}

.attractions h1{
    font-size: 3rem;
}

.description{
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #8338ec14;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem
}
.description-reverse{
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #8338ec14;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem
}

.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.des-text h2{
    padding-bottom: 2.5rem;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.image img{
    width: 49%;
    height: 450px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width:850px){
    .attractions{
        margin: 4rem 2rem;
    }
    .description{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }
    .description-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem
    }
    .des-text{
        align-items: justify;
        width: 100%;
    }
    .image{
        width: 100%;
        margin: 1.8rem 0;
    }
    .image img{
        height: 250px;
    }
}